---
layout: default
toc: false
---

{% assign collection = site.collections | where: 'label', page.collection | first %}
{% assign pages = site[collection.label] %}

<h1>
  {{ collection.title }}
</h1>

{% comment %}
TODO: Re-introduce this later
<p class="rss-subscribe">subscribe <a href="{{ '/feed.xml' | relative_url }}">via RSS</a></p>
{% endcomment %}

<ul class="page-list">
  {% for page in pages %}
  <li>
    <a class="page-link" href="{{ page.url | relative_url }}">{{ page.title | escape }}</a>
  </li>
  {% endfor %}
</ul>
